<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>100-hbnb</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/100-hbnb.js') }}"></script>
</head>
<body>
    <ul id="states">
	    <li><input type="checkbox" data-id="1" data-name="California"> California</l>
    </ul>

    <ul id="cities">
        <li><input type="checkbox" data-id="101" data-name="San Francisco"> San Francisco</li>
        <!-- Add more city checkboxes as needed -->
    </ul>

    <div id="selected-locations">
        <h4>Selected Locations:</h4>
        <p>No locations selected</p>
    </div>
</body>
</html>
